<!-- Experience Section -->
	<section id="experience" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
					<p>I've done data analytics, primarily in the consumer electronics industry, for almost 15 years.
					For more detail, please see <a href="http://s.mylesandmyles.info/cv/">my CV</a>.</p>
				</div>
            </div>
<br />
            <div class="row">
                <div class="col-lg-12">
					<ul>
						<li><p class="bullet"><a href="http://www.hp.com/">HP Inc.</a> &mdash; Houston, TX &mdash; 2017-present  [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Senior Analyst, Workstation and Thin Client Cost Management &mdash; February 2017 - present</p>
										<ul>
											<li><p class="small">Track costs for workstation and thin client products</p></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="http://www.apple.com/">Apple Inc.</a> &mdash; Austin, TX &mdash; 2014-2017  [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Forecasting and Planning Analyst, Retail Contact Center &mdash; July 2014 - February 2017</p>
										<ul>
											<li><p class="small">Utilized operational data to forecast weekly and monthly transactional and manpower (FTE) requirements for worldwide Order Administration (September 2015 - February 2017) and phone sales and service for the Americas, EMEA, and Japan (July 2014 - August 2015)</p></li>
											<li><p class="small">Automated (via VBA) and improved (through the addition of regression and time series models, i.e., exponential smoothing) existing forecasting and planning models </p></li>
											
											
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li><p class="bullet">Hewlett-Packard Company (now <a href="http://www.hp.com/">HP Inc.</a>) &mdash; Houston, TX &mdash; 2004-2014 [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Senior Business Analyst, Americas Customer Service and Support &mdash; April 2011 - July 2014</p>
										<ul>
											<li><p class="small">Led a seven person team in multiple geographies to provide technical analyses and subject matter expertise for analytics, inventory control, and optimization projects.</p></li>
											<li><p class="small">Built decision support tools using business intelligence applications (Tableau and QlikView).</p></li>
										</ul>
									</li>
									<li><p class="small">Operations Research Analyst, Americas Customer Support Operations &mdash; August 2004 - April 2011</p>
										<ul>
											<li><p class="small">Consulted on planning, forecasting, staffing, and inventory activities with internal and outsourced contact centers and repair centers in multiple geographies.</p></li>
											<li><p class="small">Developed and implemented operations research models (LP, MIP, and simulation) for contact centers and repair centers, including daily delivery of call volume across multiple contact centers and determining the disposition 
																 of repair inventory for build vs. buy decision-making.</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="http://www.ttu.edu/">Texas Tech University</a> Department of Industrial Engineering (now <a href="http://www.depts.ttu.edu/ieweb/">Department of Industrial, Manufacturing, and Systems Engineering</a>) &mdash; Lubbock, TX &mdash; 2002-2004 [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Teaching Assistant &mdash; August 2003 - May 2004</p>
										<ul>
											<li><p class="small">Graded homework and projects for undergraduate classes of 50+ students per semester.</p></li>
										</ul>
									</li>
									<li><p class="small">Research Assistant &mdash; August 2002 - August 2003</p>
										<ul>
											<li><p class="small">Researched <a href="http://steve.mylesandmyles.info/post/514864045/inventory-control-for-automated-drug-dispensing">an inventory control model for automated pharmaceutical dispensing machines</a>, potentially saving approx. $100,000 annually for a local hospital.</p></li>
										</ul>
									</li>
								</ul>
							</div>	
						</li>	
						<li><p class="bullet"><a href="http://www.ethicon.com/">Ethicon, Inc.</a> (a Johnson & Johnson Company) &mdash; San Angelo, TX &mdash; 2000 [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Materials Management Coop &mdash; May - December 2000</p>
										<ul>
											<li><p class="small">Supervised twenty-five warehouse associates and oversaw timely filling of orders.</p></li>
											<li><p class="small">Developed work standards (i.e., expected throughput) for warehouse associates.</p></li>
										</ul>
									</li>	
								</ul>
							</div>
						</li>							
					</ul>
				</div>
			</div>
		</div>
    </section>
