---
layout: default
title: Lognormality
pagination: 
  enabled: true
---
	<section id="blog">
        <div class="container">
			<br /><br /><br /><br /><br />
			<div class="row">
                <div class="col-lg-12">
					<h3>{{ page.title }}</h3>
                    <hr class="star-primary">
					<p><em>n.</em> <strong>1.</strong> Of, relating to, or being a logarithmic function with a normal distribution. <strong>2.</strong> occasional musings, projects, and such ("blog posts") by <a href="https://stevemyles.site/">Steve Myles</a> (a.k.a. some guy from Texas).
					</p>
				</div>
			</div>
			<div class="row">
					<br />
					{% if paginator.page == 1 %}
						{% for post in site.posts %}
							{% if post.pinned %}
								<p>
									<div class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
									<span class="post-date">{{ post.date | date: "%Y/%m/%d" }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Pinned post</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.summary }}
								</p>
							{% endif %}
						{% endfor %}
					{% endif %}
					{% for post in paginator.posts %}
						{% unless post.pinned %}
							<p>
								<div class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
								<span class="post-date">{{ post.date | date: "%Y/%m/%d" }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.summary }}
							</p>
						{% endunless %}
					{% endfor %}
					{% if paginator.total_pages > 1 %}
					<br />
					<ul class="pager">
						{% if paginator.next_page %}
						<li class="previous">
							<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older Posts</a>
						</li>
						{% endif %}
						<li>
							<a href="{{ site.url }}blog/archive/">Archive</a>
						</li>
						{% if paginator.previous_page %}
						<li class="next">
							<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts &rarr;</a>
						</li>
						{% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</section>