---
layout: default
---
	<section id="archive">
        <div class="container">
			<br /><br /><br />
			<div class="row">
                <div class="col-lg-12">
					<h3><a style="color:#39383d;" href="{{ site.url }}blog/">Lognormality</a> &gt; <a style="color:#39383d;" href="{{ site.url }}blog/archive/">Archive</a> &gt; {{ content}}
					<hr class="star-primary">
				</div>
			</div>

			<div class="row">
				<ul class="posts">
					{% for post in page.posts %}
					<li>
						{{ post.date | date: "%Y/%m/%d" }}:  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<ul class="pager">
				<li>
					<a href="{{ site.url }}blog/">Main</a>
				</li>
				<li>
					<a href="{{ site.url }}blog/archive/">Archive</a>
				</li>
			</ul>
		</div>
	</section>