    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/404.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">404</span>
                        <hr class="star-light">
                        <span class="skills">Page not found. <a style="color:#fff;" href="{{site.url}}">Please try again.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
