<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
					<p>I'm Steve Myles, a.k.a. some guy from Texas.  I've been doing data analytics for almost 15 years. My educational background is in industrial engineering/operations research and business.
					I've done independent coursework in data science as well. I enjoy using data to solve business problems.  I also run distances slowly.
					</p>
				</div>
            </div>

            <div class="row">
                <div class="col-md-4">
					<h3>Professional</h3>
					<ul>
						<li><p>I've spent my career in the consumer electronics industry, focusing on analytics and planning.</p></li>
						<li><p class="page-scroll">An overview of my experience is <a href="#experience">below</a>, my CV is <a href="https://s.mylesandmyles.info/cv/">here</a>, and you can find me <a href="https://linkedin.com/in/stevenmyles">on LinkedIn</a>.</p></li>
					</ul>
										<h3>Interests</h3>
					<ul>
						<li><p class="bullet">Professional [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Analytics</p></li>
									<li><p class="small">Contact center and repair center operations optimization</p></li>
									<li><p class="small">Data science</p></li>
									<li><p class="small">Data visualization</p></li>
									<li><p class="small">Healthcare applications of analytics, operations research, and industrial engineering</p></li>
									<li><p class="small">Reverse supply chain management</p></li>
								</ul>
							</div>	
						</li>
						<li><p class="bullet">Personal [<span class="expand">+</span>]</p>
							<div class="detail">
								<p class="small">
									<ul>
										<li><p class="small"><a href="https://www.librarything.com/profile/scumdogsteev">Reading</a></p></li>
										<li><p class="small"><a href="https://photos.scumdogentertainment.com/">(Extremely) Amateur photography</a></p></li>
										<li><p class="small"><a href="https://steve.mylesandmyles.info/tagged/october_horror_films">Watching movies</a></p></li>
										<li><p class="small"><a href="https://www.last.fm/user/scumdogsteev">Listening to music</a></p></li>
										<li><p class="small"><a href="https://www.mylesandmyles.info/">Running</a> (though I&rsquo;m not exactly what you&rsquo;d call fast)<br /><br />
											<img class="img-responsive" src="img/running.jpg" alt=""><br /><br />
											<ul>
												<li><p class="small"><a href="https://www.athlinks.com/athletes/30708036">Results</a></p></li>
												<li><p class="small">PRs</p>
													<ul>
														<li><p class="small">5K:  26:37 (2018)</p></li>
														<li><p class="small">5mi: 48:24 (2014)</p></li>
														<li><p class="small">10K:  59:49 (2013)</p></li>
														<li><p class="small">11K:  1:07:21 (2011)</p></li>
														<li><p class="small">Half marathon:  2:13:06 (2018)</p></li>
														<li><p class="small">Marathon:  5:39:01 (2013)</p></li>
													</ul>
												</li>
											</ul>	
										</li>
									</ul>
								</p>
							</div>	
						</li>
						<li><p class="bullet">Causes [<span class="expand">+</span>]</p>
							<div class="detail">
								<p class="small">
									<a href="https://bethematch.org/" target="_self"><img class="img-responsive" alt="bethematch.org" src="img/bethematch.jpg" /></a>
									<a href="https://action.humanesociety.org/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&amp;SURVEY_ID=1840&amp;s_src=pmbadgeribbon" target="_blank"><img class="img-responsive" alt="The Humane Society of the United States" border="0" src="https://www.humanesociety.org/assets/images/web-badges/stop_puppy_mills_ribbon.jpg" /></a>
									<a href="https://www.lls.org/" title="LLS" target="_self"><img class="img-responsive" alt="LLS" src="img/lls.gif" /></a>
								</p>
							</div>
						</li>
					</ul>
				</div>		
                <div class="col-md-4">						
					<h3>Personal</h3>
					<ul>
						<li><p>I am married to my lovely wife <a href="https://www.elizabethmyles.com/">Elizabeth</a>. She is the coolest person in the world.</p></li>
						<li><p>I grew up in Lubbock, Texas and currently reside in Texas.</p></li>
						<li><p>I am an <a href="http://www.eaglescout.org/index.htm">Eagle Scout</a>. Troop 543 represent.</p></li>
					</ul>
					<h3>People I Know</h3>
					<ul>
						<li><p class="bullet">Family [<span class="expand">+</span>]</p>
							<div class="detail">
								<p class="small">
									<ul>
										<li><p class="small"><a href="https://www.mylesandmyles.info/" title="Myles &amp; Myles" target="_self">Myles &amp; Myles</a> - my wife and I</p></li>
										<li><p class="small"><a href="http://www.mem.com/ContentDisplay.aspx?ID=5686270" title="my mother">Barbara Myles</a> &ndash; my mother</p></li>
										<li><p class="small"><a href="http://www.phys.ttu.edu/~cmyles/" title="my father">Charles Myles</a> &ndash; my father</p></li>
										<li><p class="small"><a href="https://www.linkedin.com/in/chriswmyles" title="my brother">Chris Myles</a> &ndash; my brother</p></li>
										<li><p class="small"><a href="http://navylog.navymemorial.org/myles-clyde">Clyde Myles</a> &ndash; my grandfather</p></li>
									</ul>
								</p>	
							</div>
						</li>
						<li><p class="bullet">Friends and Colleagues [<span class="expand">+</span>]</p>
							<div class="detail">
								<p class="small">
									<ul>
										<li><p class="small"><a href="http://www.williamscochrane.com/" target="_self">Kevin Cochrane</a></p></li>
										<li><p class="small"><a href="http://www.benheavner.com/" target="_self">Ben Heavner</a></p></li>
										<li><p class="small"><a href="http://lookwhatdannymade.com/" target="_self">Danny Holwerda</a></p></li>
										<li><p class="small"><a href="http://pranompopup.com/">Dream Kasestatad</a></p></li>
										<li><p class="small"><a href="http://www.legmar.com/">Matt Legler</a></p></li>
										<li><p class="small"><a href="https://www.rentpath.com/blog/profiles/will-lin/">Will Lin</a></p></li>										
										<li><p class="small"><a href="http://www.griffith.edu.au/criminology-law/school-criminology-criminal-justice/staff/dr-myesa-knox-mahoney" target="_self">Myesa Knox Mahoney</a></p></li>
										<li><p class="small"><a href="http://www.irishtexanphoto.com/" target="_self">Larry McCormick</a></p></li>
										<li><p class="small"><a href="http://colinmcroberts.com/" target="_self">Colin McRoberts</a></p></li>
										<li><p class="small"><a href="https://jeffmiller.artstation.com/" target="_self">Jeff Miller</a></p></li>
										<li><p class="small"><a href="http://noisybox.net/">Jason Plumb</a></p></li>
										<li><p class="small"><a href="http://www.chach-house.net/" target="_self">Seth Thornberry</a></p></li>
										<li><p class="small"><a href="http://berryberrybusy.t-berry.com/" target="_self">Tara Thornberry</a></p></li>
										<li><p class="small"><a href="https://engineering.wayne.edu/profile/saravanan.venkatachalam/">Saravanan Venkatachalam</a></p></li>
										<li><p class="small"><a href="https://fredgyost.com/">Fred Yost</a></p></li>
									</ul>
								</p>
							</div>
						</li>
						<li><p class="bullet">Professors [<span class="expand">+</span>]</p>
							<div class="detail">
								<p class="small">
									<ul>
										<li><p class="small"><a href="http://www.limag.refer.org/Pagespersonnes/GafaitiCV2007.htm">Hafid Gafaiti</a></p></li>
										<li><p class="small"><a href="http://ise.utk.edu/peopletwo/john-e-kobza/" title="my graduate advisor">John E. Kobza</a></p></li>
										<li><p class="small"><a href="https://scupi.scu.edu.cn/en/faculty-staff-en/faculty-en/surya-danusaputro-liman">Surya D. Liman</a></p></li>
										<li><p class="small"><a href="http://www.neeley.tcu.edu/About_Neeley/Faculty_and_Staff/Rockett-Hanft,_Tracey.aspx" target="_self">Tracey Rockett</a></p></li>
										<li><p class="small"><a href="http://www.depts.ttu.edu/imse/faculty/main/MLSmith.php" title="my TA supervisor">Milton Smith</a></p></li>
									</ul>
								</p>
							</div>
						</li>						
					</ul>	
				</div>
                <div class="col-md-4">						
					<h3>Education</h3>
					<ul>
						<li><p><a href="https://jindal.utdallas.edu/mba-programs/pmba/" target="_self">Master of Business Administration</a>, <a href="http://jindal.utdallas.edu/" target="_self">Naveen Jindal School of Management</a>, <a href="http://www.utdallas.edu/" target="_self">University of Texas at Dallas</a>, 2012</p></li>
						<li><p><a href="http://www.depts.ttu.edu/imse/graduate/" target="_blank">Master of Science in Industrial Engineering</a> with concentration in <a href="http://en.wikipedia.org/wiki/Operations_research">Operations Research</a>, <a href="http://www.ttu.edu/">Texas Tech University</a>, 2004</p></li>
						<li><p><a href="http://www.depts.ttu.edu/imse/undergrad/" target="_blank">Bachelor of Science in Industrial Engineering</a>, Texas Tech University, 2002</p></li>
						<li><p><a href="http://lhs.lubbockisd.org/" target="_blank">Lubbock High School</a>, <a href="http://www.lhs1997.rocks/">1997</a></p></li>
					</ul>
				</div>				
			</div>
		</div>
    </section>