<!-- Projects Section -->
	<section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Projects</h3>
                    <hr class="star-primary">
					<p>I like to solve analytics problems. I also write simple code that can be used as a pedagogical tool; I used to code in Turbo Pascal but lately I've been using R. I enjoy working with Tableau as well.</p>
				</div>
            </div>
            <div class="row row-centered">
                <div class="col-md-4 col-centered">
					<h4>computer-related</h4>
					<ul>
						<li><p class="bullet">R Packages [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="bullet small"><a href="https://stevemyles.site/mlsjunkgen/">mlsjunkgen</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: <a href="https://stevemyles.site/mlsjunkgen/">R Package</a></p></li>
												<li><p class="small">Description: R implementation of a pseudorandom number generator</p></li>
												<li><p class="small">Course: originally from <a href="http://catalog.ttu.edu/preview_course_nopop.php?catoid=2&coid=9253">IE 5317 - Statistical Analysis for Digital Simulation</a></p></li>
												<li><p class="small">More Info:  <a href="https://stevemyles.site/blog/2012/07/06/the-mls-junk-generator/">blog post</a>, <a href="https://cran.r-project.org/web/packages/mlsjunkgen/index.html">CRAN</a>, <a href="https://github.com/scumdogsteev/mlsjunkgen">code</a></p></li>
												<li><p class="small">Year of initial release:  2015</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/phonenumber/">phonenumber</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: <a href="https://stevemyles.site/phonenumber/">R package</a></p></li>
												<li><p class="small">Description: a simple R Package that converts English letters to numbers and numbers to English letters as on a telephone keypad</p></li>
												<li><p class="small">More info:  <a href="https://stevemyles.site/blog/2015/07/12/phonenumber/">blog post</a>, <a href="https://cran.r-project.org/web/packages/phonenumber/index.html">CRAN</a>, <a href="https://github.com/scumdogsteev/phonenumber">code</a></p></li>
												<li><p class="small">Year of initial release:  2015</p></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>	
						<li><p class="bullet">Other Code [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2015/03/02/r-functions-and-such/">R Functions and Such</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: R</p></li>
												<li><p class="small">Description: repository of R scripts that might be useful for other projects (and that I don&rsquo;t want to have to find/recreate)</p></li>
												<li><p class="small">More info: <a href="https://stevemyles.site/blog/2015/03/02/r-functions-and-such/">blog post</a>, <a href="https://github.com/scumdogsteev/R-functions-and-such">code</a></p></li>
												<li><p class="small">Year:  2015</p></li>
											</ul>	
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2015/01/22/data-science-specialization/">Data Science Specialization</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: R, etc.</p></li>
												<li><p class="small">Description/Courses: coursework from the <a href="https://www.coursera.org/specializations/jhu-data-science">Johns Hopkins University/Coursera Data Science Specialization</a></p></li>
												<li><p class="small">Years:  2014-present</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2013/09/07/epubcheck-helper/">ePubCheck Helper</a> [<span class="expand">+</span>]</p>
										<div class="detail small">
											<ul>
												<li><p class="small">Project Type: batch</p></li>
												<li><p class="small">Description: a simple batch file that allows the user to drag and drop an EPUB file to run <a href="https://github.com/IDPF/epubcheck" title="ePubCheck" target="_self">ePubCheck</a></p></li>
												<li><p class="small">More info: <a href="https://github.com/scumdogsteev/epc-helper">code</a></a></p></li>
												<li><p class="small">Year of initial release:  2013</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2012/07/06/the-mls-junk-generator/">MLS Junk Generator</a> [<span class="expand">+</span>]</p>
										<div class="detail small">
											<ul>
												<li><p class="small">Project Types: <a href="https://github.com/scumdogsteev/mls-junk-generator">VBA/Excel</a></p></li>
												<li><p class="small">Description: implementation of a pseudorandom number generator</p></li>
												<li><p class="small">Course: <a href="http://catalog.ttu.edu/preview_course_nopop.php?catoid=2&coid=9253">IE 5317 - Statistical Analysis for Digital Simulation</a></p></li>
												<li><p class="small">More Info:  <a href="https://github.com/scumdogsteev/mls-junk-generator">code</a></p></li>
												<li><p class="small">Year of initial release:  2012</p></li>
												<li><p class="small">Year of initial coding:  2004</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2006/07/10/tic-tac-toe/">Tic Tac Toe</a> [<span class="expand">+</span>]</p>
										<div class="detail small">
											<ul>
												<li><p class="small">Project Type: Turbo Pascal (Win32)</p></li>
												<li><p class="small">Description: a Tic Tac Toe game I coded in graduate school</p></li>
												<li><p class="small">Course: <a href="http://catalog.ttu.edu/preview_course_nopop.php?catoid=2&coid=9244">IE 5307 - Cognitive Engineering</a></p></li>
												<li><p class="small">More info: <a href="https://github.com/scumdogsteev/tic-tac-toe">code</a></p></li>
												<li><p class="small">Year of initial release:  2012</p></li>
												<li><p class="small">Year of initial coding:  2004</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2006/07/12/stochastic-inventory-control/">Stochastic "Inventory Control"</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: Turbo Pascal (Win32)</p></li>
												<li><p class="small">Description: Markov chains, Jacobi iterations, and more</p></li>
												<li><p class="small">Course: <a href="http://catalog.ttu.edu/preview_course_nopop.php?catoid=2&coid=9265">IE 5331 - Stochastic Processes ("Theoretical Studies in Advanced Industrial Engineering Topics")</a></p></li>
												<li><p class="small">More info: <a href="https://github.com/scumdogsteev/stochastic-inventory-control">code</a></p></li>
												<li><p class="small">Year of initial release:  2006</p></li>
												<li><p class="small">Year of initial coding:  2003</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2015/06/19/turbo-pascal-stuff/">Turbo Pascal Stuff</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: Turbo Pascal (Win32)</p></li>
												<li><p class="small">Description: procedures and programs from my high school computer science classes</p></li>
												<li><p class="small">Courses: Computer Science I and II</p></li>
												<li><p class="small">More info: <a href="https://github.com/scumdogsteev/turbo-pascal-stuff">code</a></p></li>
												<li><p class="small">Year of initial release:  2015</p></li>
												<li><p class="small">Year of initial coding:  1994-1997</p></li>									
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li><p class="bullet">Non-Code [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2017/06/24/breweries-visualized/">Breweries, Visualized</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: <a href="https://www.tableau.com/">Tableau</a></p></li>
												<li><p class="small">Description: an interactive table and map of breweries I&rsquo;ve visited and the pictures I have taken of them</p></li>
												<li><p class="small">Year:  2017</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2014/11/24/my-travels/">My Travels</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: <a href="https://www.tableau.com/">Tableau</a></p></li>
												<li><p class="small">Description: an interactive map of countries/states/provinces I&rsquo;ve visited</p></li>
												<li><p class="small">Year:  2014</p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2009/11/21/nanowrimo-tracker/">NaNoWriMo Tracker</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: Excel</p></li>
												<li><p class="small">Description: track your <a href="https://www.nanowrimo.org/">NaNoWriMo</a> word count</p></li>
												<li><p class="small">More Info:  <a href="https://github.com/scumdogsteev/nanowrimo-tracker">Excel file</a></p></li>
												<li><p class="small">Year of initial release:  2009</p></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-centered">
					<h4>education-related</h4>
					<ul>
						<li><p class="bullet"><a href="https://steve.mylesandmyles.info/tagged/madame-curious" target="_self">Madame Curious Comes to Visit</a> [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Project Type: writing/teaching</p></li>
									<li><p class="small">Description: <a href="http://madamecurious1.pbworks.com/w/page/25355636/FrontPage" target="_self">Madame Curious</a> came to visit me <a href="http://madamecurious1.pbworks.com/w/page/32833131/Hewlett-Packard%2C%20Houston%2C%20TX">to learn about the type of work I do</a></p></li>
									<li><p class="small">Year: 2010</li>
									<li><p class="small">Me and Madame Curious: <br /><br /><img class="img-responsive" src="img/mmecurious.jpg" alt=""></p></li>
								</ul>
							</div>
						</li>
						<li><p class="bullet">(Non-Code) School Projects [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="bullet small"><a href="https://steve.mylesandmyles.info/projects/domestics/">&ldquo;Domestics&rdquo;</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: radio</p></li>
												<li><p class="small">Description: I co-hosted/hosted a radio show (local music) on <a href="http://www.ktxtfm.org/raider/">KTXT-FM</a> when I was in graduate school</p></li>
												<li><p class="small">Years: 2002-2004</p></li>
												<li><p class="small">Listen:<br /> <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/119362101&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2007/11/06/inventory-control-for-automated-drug-dispensing-machines/">Inventory Control for Automated Drug Dispensing Machines: A Service Level Policy</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: research/inventory control</p></li>
												<li><p class="small">Description: in graduate school, I worked on this project which was presented at INFORMS 2007</p></li>
												<li><p class="small">Years: 2002-2004, presented 2007</p></li>
												<li class="page-scroll"><p class="small">See below for <a href="#talks">slides</a></p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2012/04/14/ttu-ie-paperweight/" title="TTU IE Paperweight" target="_self">TTU IE Paperweight</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: machining</p></li>
												<li><p class="small">Description: a paperweight that a group and I designed and machined</p></li>
												<li><p class="small">Course: <a href="http://catalog.ttu.edu/preview_course_nopop.php?catoid=2&coid=9229">IE 4351 (now IE 4352) - Manufacturing Engineering II</a></p></li>
												<li><p class="small">Year: 2002</p></li>
												<li><p class="small">Engineering Drawing:<br /><img class="img-responsive" src="img/paperweight.jpg" alt=""></p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small"><a href="https://stevemyles.site/blog/2014/12/05/ttu-clamp-on-table-vise/">TTU Clamp-on Table Vise</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: machining</p></li>
												<li><p class="small">Description: a tabletop vise that I machined</p></li>
												<li><p class="small">Course: <a href="http://catalog.ttu.edu/preview_course_nopop.php?catoid=2&coid=9218">IE 3351 - Manufacturing Engineering I</a></p></li>
												<li><p class="small">Year: 2001</p></li>
												<li><p class="small">Completed Vise:<br /><img class="img-responsive" src="img/vise.jpg" alt=""></p></li>
											</ul>
										</div>
									</li>
									<li><p class="bullet small">Additional school projects are in the "Other Code" category to the left</p>
									</li>
								</ul>
							</div>
						</li>

					</ul>
				</div>
				<div class="col-md-4 col-centered">
					<h4>other</h4>
					<ul>
						<li><p class="bullet"><a href="https://steve.mylesandmyles.info/tagged/october_horror_films" target="_self">October Horror Films</a> [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Project Type: movie-watching</p></li>
									<li><p class="small">Description: each October, my wife and I watch at least one horror film per day</p></li>
									<li><p class="small">Years: 
										<a href="https://steve.mylesandmyles.info/post/188754996483/october-horror-films-2019-summary" title="2019" target="_self">2019</a> | 
										<a href="https://steve.mylesandmyles.info/post/179724670948/october-horror-films-2018-summary" title="2018" target="_self">2018</a> | 
										<a href="https://steve.mylesandmyles.info/post/167169457483/october-horror-films-2017-summary" title="2017" target="_self">2017</a> | 
										<a href="https://steve.mylesandmyles.info/post/152835306773/october-horror-films-2016-summary" title="2016" target="_self">2016</a> | 
										<a href="https://steve.mylesandmyles.info/post/132372668873/october-horror-films-2015-summary" title="2015" target="_self">2015</a> | 
										<a href="https://steve.mylesandmyles.info/post/102059500425/october-horror-films-2014-summary" title="2014" target="_self">2014</a> | 
										<a href="https://steve.mylesandmyles.info/post/66635152200/october-horror-films-2013-summary" title="2013" target="_self">2013</a> | 
										<a href="https://steve.mylesandmyles.info/post/34813555588/october-horror-films-2012-summary" title="2012" target="_self">2012</a> | 
										<a href="https://steve.mylesandmyles.info/post/12260208922/october-horror-films-2011-summary" title="2011" target="_self">2011</a> | 
										<a href="https://steve.mylesandmyles.info/post/12096077084/october-horror-films-2010-summary" title="2010" target="_self">2010</a> | 
										<a href="https://steve.mylesandmyles.info/post/546694859/october-2009-horror-films" title="2009" target="_self">2009</a>
									</p></li>
								</ul>
							</div>
						</li>

						<li><p class="bullet"><a href="https://racemedals.tumblr.com/">Race Medals</a> [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Project Type: <a href="https://racemedals.tumblr.com/">tumblr</a></p></li>
									<li><p class="small">Description: a tumblr featuring medals from endurance races</p></li>
									<li><p class="small">Year started: 2014</p></li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="https://www.scumdogentertainment.com/">SCUMDOG Entertainment</a> [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Project Type: visual art</p></li>
									<li><p class="small">Description: flyers, t-shirts, etc.</p></li>
									<li><p class="small">Year founded: 1999</p></li>
									<li><p class="small">Logo: <a href="https://www.scumdogentertainment.com/"><img class="img-responsive" src="img/scumdog.gif" alt=""></a></p></li>
								</ul>
							</div>
						</li>	

						<li><p class="bullet"><a href="https://photos.scumdogentertainment.com/">Stochasticity</a> (my photos) [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Project Type: Photography</p></li>
									<li><p class="small">Description: I like taking pictures. Some of them turn out ok.</li>
									<li><p class="small">See also: <a href="https://steve.mylesandmyles.info/tagged/my-photos">my photos on my tumblr</a></li>
									<li><p class="bullet small">See also:  <a href="https://photos.scumdogentertainment.com/tagged/365project">365project</a> [<span class="expand">+</span>]</p>
										<div class="detail">
											<ul>
												<li><p class="small">Project Type: Photography</p></li>
												<li><p class="small">Description: <a href="http://365project.org/">365project</a> - &ldquo;Document your life with a daily photo!&rdquo; Good thing I picked a 366 day year to try this one.</p></li>
												<li><p class="small">Year:  2016</p></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>	
						</li>
						<li><p class="bullet"><a href="https://steve.mylesandmyles.info/post/12183161932/mylesandmyles-no-zombie-were-going-to-eat"><em>Zombi</em> cake</a> [<span class="expand">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Project Type: baking/decorating (cake, cookies, candy) + photography</p></li>
									<li><p class="small">Description: <a href="https://www.flickr.com/photos/scumdogsteev/albums/72157628024353230">a cake my wife and I made/decorated</a>, inspired by the poster for <a href="https://steve.mylesandmyles.info/post/12183161932/mylesandmyles-no-zombie-were-going-to-eat">Lucio Fulci&rsquo;s<em> Zombi</em></a></p></li>
									<li><p class="small">Year:  2011</p></li>
									<li><p class="small">Poster:<br /> <img class="img-responsive" src="img/zombi1.jpg" alt=""></p></li>
									<li><p class="small">Cake:<br /> <img class="img-responsive" src="img/zombi2.jpg" alt=""></p></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
        </div>
    </section>
