<!-- Talks Section -->
	<section id="talks" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Talks & Presentations</h2>
                    <hr class="star-light">
					<p>I've presented at conferences and given talks to students.</p>
				</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
					<ul>
						<li><p class="bullet"><a href="https://s.mylesandmyles.info/blog/2012/09/09/storytelling-for-engineers/">Storytelling for Engineers</a> [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Venue: <a href="https://www.uh.edu/">University of Houston</a> <a href="https://www.egr.uh.edu/">Cullen College of Engineering</a> <a href="https://promes.egr.uh.edu/">PROMES</a> <a href="https://s.mylesandmyles.info/blog/2012/09/09/uh-maximizing-your-power-weekend/">Maximizing Your Power Weekend 2012</a></p></li>
									<li><p class="small">Date: 7-8 September 2012</p></li>
									<li><p class="small">Slides:</p>
										<p class="small"><iframe src="//www.slideshare.net/slideshow/embed_code/key/rAbruuLEz5NLLb" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/stevemyles/storytelling-for-engineers-14242397" title="Storytelling for Engineers" target="_blank">Storytelling for Engineers</a> </strong> from <strong><a target="_blank" href="//www.slideshare.net/stevemyles">Steve Myles</a></strong> </div></p>
									</li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="https://www.egr.uh.edu/camps">University of Houston Engineering Summer Camp</a> - Young Engineers Panel Discussion [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Description: Panel discussion for a UH Engineering Summer Camp for high school students.  The panel featured young engineers from across HP, sharing information about the transition from school to work and the different careers available to engineers.</p></li>
									<li><p class="small">Venue: Hewlett-Packard Company</p></li>
									<li><p class="small">Date: 21 June 2012</p></li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="https://s.mylesandmyles.info/blog/2008/02/29/projecting-outsourced-contact-center-agent-availability/">Projecting Outsourced Contact Center Agent Availability</a> [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Presenters: <strong>Steven Myles</strong>, Viroj Buraparate, and Sunil Kumar G.</p></li>
									<li><p class="small">Venue: <a href="https://www.upenn.edu/">University of Pennsylvania</a> <a href="https://www.wharton.upenn.edu/">Wharton</a> <a href="https://fic.wharton.upenn.edu/fic/">Financial Institutions Center</a> <a href="https://fic.wharton.upenn.edu/fic/call%20center%2008/agenda.htm">Contact Center Forum 2008</a></p></li>
									<li><p class="small">Date: 28-29 February 2008</p></li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="https://s.mylesandmyles.info/blog/2007/10/30/informs-2007-presentations/">Forecasting and Planning Diagnostic Techniques for Service Operations</a> [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Presenters: <strong>Steven Myles</strong>, Viroj Buraparate, and Atul Dhawan</p></li>
									<li><p class="small">Venue: <a href="https://meetings2.informs.org/Seattle07/">INFORMS 2007</a></p></li>
									<li><p class="small">Date: 4-7 November 2007</p></li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="https://s.mylesandmyles.info/blog/2007/11/06/inventory-control-for-automated-drug-dispensing-machines/">Inventory Control for Automated Drug Dispensing Machines: A Service Level Policy</a> [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Presenters: <a href="https://ise.utk.edu/peopletwo/john-e-kobza/">John E. Kobza</a>, <strong>Steven Myles</strong>, Sean Dunagan, Garrett Heath, Surya D. Liman</p></li>
									<li><p class="small">Venue: <a href="https://meetings2.informs.org/Seattle07/">INFORMS 2007</a></p></li>
									<li><p class="small">Date: 4-7 November 2007</p></li>
									<li><p class="small">Slides:</p>
										<p class="small"><iframe src="//www.slideshare.net/slideshow/embed_code/key/EG5v2aBEkiCKZq" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/stevemyles/inventory-control-for-automated-drug-dispensing-machines-informs2007" title="Inventory Control For Automated Drug Dispensing Machines" target="_blank">Inventory Control For Automated Drug Dispensing Machines</a> </strong> from <strong><a target="_blank" href="//www.slideshare.net/stevemyles">Steve Myles</a></strong> </div></p>
									</li>
								</ul>
							</div>
						</li>
						<li><p class="bullet"><a href="https://s.mylesandmyles.info/blog/2005/11/11/informs-2005-presentations/">Optimization Strategies for Resolving Inventory Problems in Customer Service Repair Centers</a> [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Presenters: <strong>Steven Myles</strong>, Viroj Buraparate, and Terrell Thruston</p></li>
									<li><p class="small">Venue: <a href="https://meetings2.informs.org/NO2005/">INFORMS 2005</a></p></li>
									<li><p class="small">Date: 13-16 November 2005</p></li>
								</ul>
							</div>
						</li>						
						<li><p class="bullet"><a href="https://s.mylesandmyles.info/blog/2005/11/11/informs-2005-presentations/">Optimal Call Center Capacity Allocation Model</a> [<span class="expand2">+</span>]</p>
							<div class="detail">
								<ul>
									<li><p class="small">Presenters: <a href="https://www.rentpath.com/profiles/will-lin/">Will Lin</a>, Atul Dhawan, <strong>Steven Myles</strong>, and <a href="https://engineering.wayne.edu/profile/saravanan.venkatachalam/">Saravanan Venkatachalam</a></p></li>
									<li><p class="small">Venue: <a href="https://meetings2.informs.org/NO2005/">INFORMS 2005</a></p></li>
									<li><p class="small">Date: 13-16 November 2005</p></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	